html, body {
    height: 100%;
    margin: 0;
}

div#root{
    height:100%!important;
}

.login-hero {
    background-image: url('../img/the-viral.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    color: #FFFFFF;
}

.login-hero .row {
    background-color: rgba(0, 0, 0, 0.6);;
}

.login-hero a {
    font-weight: bold;
}

.login-tagline {
    font-size: 21px;
}

/* Styles for viewports xs and sm in bootstrap */
@media (max-width:767px){

    form.border-left{
        border-left:none!important;
    }

}